.weather-app-main{
    text-align: center;
}
.weather-box{
    display: flex;
    justify-content: center;
    background-color: limegreen;
    border: 5px solid darkgrey;
    width: 80vw;
    margin-left: 10vw;
    margin-top: auto;
    font-weight: bolder;
}

.date-details-box{
    border: beige 2px solid;
}

.date-title{
    text-align: center;
    color: blueviolet;
    background-color: lightgrey;
    border: #252523 2px solid;
}